body {

}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

/* Add Tooltip Type here */

#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    opacity:0.9;
}
			
#tooltip.hidden {
    display: none;
}

#tooltip p{
    margin: 0;
    font-family: sans-serif;
/*    font-size: 16px;*/
/*    line-height: 20px;*/
/*    text-indent:35px;*/
}


#tooltip span{
    text-align: left;
    font-size: 12px;    
    color:coral;
}

#tooltip em{
    text-align: right;
    font-size: 12px;
}

/*--------province ----------*/

#proName.hidden {
    display: none;
}

#proName p {
    margin: 0;
    font-family: sans-serif;
    line-height: 20px;
}

/*-------path---------*/
#drawPath.hidden {
    display: none;
}

/*-------svg---------*/
#middle{
    width:80%;
    text-align:center;
    margin: 0 auto;
/*    background-color:lightgray;*/
}


/*-------title---------*/
#title{
    margin:auto;
    width:80%;
    padding-top: 2px;
    font-family: sans-serif;
    line-height: 20px;
    
    border-top-left-radius:2em;
    border-top-right-radius:2em;
    border-bottom-right-radius:2em;
    border-bottom-left-radius:2em;
    
}

#title h1{
    font-size: 25px;
    color:black;
    padding-top: 2px;
    padding-bottom: 2px;
}

/*-------buttonBar---------*/

#buttonBar{
    text-align:center;
    width:15%;
    margin:100px 10px 0px 50px;
/*    background-color: yellow;*/

}

#totalGDP_div{
    color: black;
    font-size: 20px;
    height: auto;
    margin:10px 20px 0px 20px;
    background-color:dodgerblue;
    border-bottom-right-radius:1em;
    border-bottom-left-radius:1em;
    border-top-left-radius:1em;
    border-top-right-radius:1em;
}

#totalGDP_famousCities{
/*    width: 200px;*/
    height: auto;
    width: 80%;
    cursor:pointer;
    color: black;
    margin:3px 0px 10px 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color:white;
    font-size: 15px;
}

#totalGDP_province{
    height: auto;
    width: 80%;
    cursor:pointer;
    color: black;
    margin:0px 0px 10px 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color:white;
    font-size: 15px;
}

#population_div{
    color: black;
    font-size: 20px;
    height: auto;
    margin:10px 20px 0px 20px;
    background-color:dodgerblue;
    border-bottom-right-radius:1em;
    border-bottom-left-radius:1em;
    border-top-left-radius:1em;
    border-top-right-radius:1em;
}

#population_famousCities{
    height: auto;
    width: 80%;
    cursor:pointer;
    color: black;
    margin:3px 0px 10px 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color:white;
    font-size: 15px;
}

#population_province{
    height: auto;
    width: 80%;
    cursor:pointer;
    color: black;
    margin:0px 0px 10px 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color:white;
    font-size: 15px;
}

#PGDP_div{
    color: black;
    font-size: 20px;
    height: auto;
    margin:10px 20px 0px 20px;
    background-color:dodgerblue;
    border-bottom-right-radius:1em;
    border-bottom-left-radius:1em;
    border-top-left-radius:1em;
    border-top-right-radius:1em;
}

#PGDP_famousCities{
    height: auto;
    width: 80%;
    cursor:pointer;
    color: black;
    margin:3px 0px 10px 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color:white;
    font-size: 15px;
}

#PGDP_province{
    height: auto;
    width: 80%;
    cursor:pointer;
    color: black;
    margin:0px 0px 10px 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color:white;
    font-size: 15px;
}


#hasCity{
    width: 80px;
    height: auto;
    cursor:pointer;
    color: black;
    margin:10px 5px 0px 0px;
    font-size: 20px; 
    padding-top: 2px;
    padding-bottom: 2px;
    background-color:orange;
}

#noCity{
    width: 80px;
    height: auto;
    cursor:pointer;
    color: black;
    margin:10px 5px 0px 0px;
    font-size: 20px; 
    padding-top: 2px;
    padding-bottom: 2px;
    background-color:orange;
}

/*-------ending---------*/
#ending{
    height:300px;
    height:auto;
    min-height:350px;
    margin:0 auto;
    
    text-align:center;

    width:80%;
    background-color:rgb(241,241,241);
    border-bottom-right-radius:2em;
    border-bottom-left-radius:2em;
    border-top-left-radius:2em;
    border-top-right-radius:2em;
    
    font-size: 16px; 
    font-family: sans-serif;
    line-height: 150%;   
    
}

#endingtext{
    padding: 10px;
    width:800px;
    margin:0 auto;
}

#References{
    margin:0px 80px 0px 0px;
}



